* {
    max-width: 430px;
    
}


#grid-container {
    display: grid;
    grid-template-areas: "header" "main" "footer";
}



/*Side justeringer*/
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.banner-img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

#Produkter img{
    max-width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}

li{
    list-style-type: none;
}



/*Vanlig stiler*/
body{
    box-sizing: border-box;
    padding: 20px;
    overflow-x: hidden;
    max-width: 1200px;
    background-color: #f6f6f6;
    font-family: Arial, Helvetica, sans-serif;
}

.button{
    background: none;
    border: 2px solid #000;
    color: #eee;
}

/*Header Justeringer*/

header {
    display: flex;
    flex-direction: column; 
    background-color: #f6f6f6;
    gap: 20px; 
    align-items: flex-start; 
}

/* Søkeseksjon */
.søkeseksjon {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%;
}

.søkefelt {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.søk-input {
    
    padding: 8px;
    border: 1px solid #000000;
}

.søke-knapp {
    padding: 8px 16px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    border: 1px solid #000000;
}

/* Navigasjon */
.header-nav {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%;
}

.navigasjon {
    display: flex;
    flex-direction: column; 
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.navigasjon a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: #000;
    margin: 0;
}

.logo a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size:xx-large;
}

/* Ikoner */
.ikoner-header {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    list-style: none;
    padding-bottom: 3rem;
    margin: 0;
    align-items: flex-start;
}

.ikoner-header li {
    font-size: 20px;
    color: #333;
}

.ikoner-header li a {
    text-decoration: none;
    color: inherit;
}

/*Footer Justeringer.*/

footer {
    display: flex;
    flex-direction: column;  
    gap: 20px;  
    background-color: #f6f6f6;
    border-top: 1px solid #000;
    padding-top: 20px;
    padding-bottom: 100px;
}

.Kontaktinfo li {
    margin-bottom: 10px;
}

.fet-tekst {
    font-weight: bold;
    margin-right: 5px;
    margin-left: 5px;
}

.vanlig-tekst {
    font-weight: normal;
}

.Snarveier ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.Snarveier li {
    margin: 0;
}

.Snarveier a {
    text-decoration: none;
    color: #000;
}

.Sosiale-medier ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.Sosiale-medier li {
    margin: 0;
}

.Sosiale-medier a {
    font-size: large;
    color: #000;
    text-decoration: none;
}

/*Forside justeringer.*/
/*Forside banner sekjson.*/

#Banner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    background-color: #d1d1d1;
    padding: 2rem;
}

#Banner h2{
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #000000;
}

#Banner .ledetekst {
    margin-bottom: 15px;
    font-size: 1rem;
    max-width: 500px;
}

#Banner .banner-button {
    display: inline-block;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

#Banner .banner-button:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}

/*Forside produkter sekjson.*/

#Produkter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 2rem;
}

.produkter-knapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    margin: 20px 0;
    gap: 20px;
}

.filter-knapp {
    text-align: left;
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
    padding: 10px 20px;
    font-size: 1rem;
}

.produkter {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.produkter li {
    max-width: 100%;
}

.produkter img{
    width: 100%;
    height: 0;
    margin-bottom: 10px;
}

/*Forside kategori sekjson.*/

#Kategorier {
    margin-top: 5rem;
}

#Kategorier h2 {
    font-size: bold;
    margin-bottom: 1rem;
}

#Kategorier p {
    margin-bottom: 3rem;
    font-size: large;
}

#Kategorier ul li {
    margin-bottom: 20px;
    border: 1px solid #000;
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#kategorier h3 {
    font-size: bold;
    text-align: center;
}

/*Forside anmeldelser sekjson.*/

#Anmeldelser {
    margin-top: 3rem;
    padding-bottom: 20px;
}

#Anmeldelser h2 {
    margin-bottom: 20px;
}

#Anmeldelser article {
    display: block;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #000;
    padding: 1rem;
}

#Anmeldelser article img {
    max-width: 150px;
}

#Anmeldelser article h3 {
    font-size: bold;
}

#Anmeldelser article p {
    font-size: large;
    color: #000;
}





/*Produktside justeringer.*/
/*Brødsmule seksjon.*/

.brødsmulesti {
    text-align: left;
}

.brødsmulesti p, i {
    display: inline-block;
    margin-right: 10px;
}

#brødsmulesti-produktnavn {
    font-weight: bold;
}

/*Produkt seksjon.*/
.Gul-produkt {
    padding-top: 1rem;
    text-align: left;
}

.Gul-produkt h2 {
     margin-top: 2rem;
}

.Gul-produkt p {
    margin-bottom: 1rem;
}

.Gul-produkt img {
    display: block;
    margin-bottom: 5px;
    max-width: 100%;
}

#produktmerke {
    margin-bottom: 1rem;
    text-decoration: underline;
    color: #000;
}

#gulfarge {
    font-weight: bold;
}

/*Lignede produkter seksjon.*/
.lignende-produkter {
    padding: 1rem;
    margin: 0;
}

.lignende-prodnavn {
    display: inline-block;
    margin: 0;
    padding-right: 4rem;
    margin-bottom: 1rem;
}

.lignende-prodpris {
    display: inline-block;
    margin: 0;
    padding-left: 4.5rem;
    text-align: right;
    margin-bottom: 1rem;
}

.lignende-produkter img {
    max-width: 100%; 
    margin-bottom: 1rem; 
    margin-top: 2rem;
}

/*Kasseside justeringer.*/
/*Shoppingbagen.*/
#Kasse {
    margin-top: 0;
    margin-bottom: 2rem;
}

.handlekurv {
    margin: 0;
}

.handlekurv img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
}

.handlekurv h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.handlekurv h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0;
}

.handlekurv p {
    font-size: 1rem;
}

/*Opplysninger.*/

.opplysninger h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}

.opplysninger form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.opplysninger label {
    font-weight: bold;
}

.opplysninger input {
    padding: 1rem 1rem;
    font-size: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
}

.lagre {
    max-width: fit-content;
    margin-top: 2rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 2px solid #cccccc;
    background-color: #494949;
    color: #fff;
}

.avbryt {
    margin-top: 0.5rem;
    font-size: 1rem;
    text-decoration: underline;
}

/*Levering*/

.levering {
    padding-bottom: 2rem;
}

.levering h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.levering h3 {
    margin-bottom: 1rem;
}

.levering p {
    margin: 2rem 0; 
    font-weight: bold;
}

.levering input {
    margin-right: 0.5rem;
}

/*Betaling*/
.betaling {
    margin-top: 1rem;
    max-width: 100%;
}

.betaling form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.betalingsinfo input {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #000;
}

#summen {
    margin-top: 3rem;
}

.fullfør {
    max-width: fit-content;
    padding: 1rem 1rem;
    font-size: 1rem;
    border: 2px solid #cccccc;
    background-color: #494949;
    color: #fff;
    margin-bottom: 1rem;
}

.samtykke {
    font-size: 14px;
    display: block;
    margin-top: 1rem;
    margin-bottom: 5rem;
}


/*Media Queriies.*/
@media screen and (min-width: 620px){

}

/*Media Queriies. Ipads og små laptops */
@media screen and (min-width: 960px){
    
}

/*Media Queriies. Desktop*/
@media screen and (min-width: 1200px){
    
}
